asgiref==3.8.1
Django==5.1.7
dnspython==2.7.0
implicit==0.7.2
joblib==1.4.2
numpy==2.2.4
pymongo==4.11.3
pysqlite3==0.5.4
scipy==1.15.2
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
